@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}

.banner-container-1{
    width: 1440px;
    min-height: 652px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(/assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-text-content-1{
    justify-content: center;
    text-align: center;
}
.banner-text-content-1 img{
margin-top: 26px;

}
.banner-text-content-1 h2{
margin-top: 45px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
align-items: center;
padding: 0px;
}
.banner-text-content-1 p{
    margin-top: 30px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding: 0px;
opacity: 0.7;
align-items: center;
}
.banner-text-content-1 button{
    margin-top: 30px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
align-items: center;
padding: 21px 24px 21px 24px;
border-radius: 8px;

background: rgb(13, 19, 33);
border-radius: 5px;
}

.banner-container-2{
    width: 1200px;
    min-height: 110px;
    margin: 0 auto;
    margin-top: 155px;
    justify-content: center;
    text-align: center;
}
.banner-container-2 h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    padding: 0px;
    align-items: center;
}
.banner-container-2 p{
    margin: 0 auto;
    margin-top: 24px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
}

.banner-container-3{
    width: 946px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}
.banner-container-3 h4{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
padding: 0px;
}
.banner-container-3 P{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
padding: 0px;
margin-top: 19px;
}
.banner-container-3 button{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
padding: 12px 20px 12px 20px;
align-items: center;
justify-content: center;
margin-top: 40px;
}
.banner-container-3 img{
    margin-left: 110px;
}

.banner-container-4{
    width: 946px;
    height: 230px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}
.banner-container-4 h4{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
padding: 0px;
}
.banner-container-4 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding: 0px;
    margin-top: 19px;
}
.banner-container-4 button{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
padding: 12px 20px 12px 20px;
align-items: center;
justify-content: center;
margin-top: 40px
}
.banner-container-4 img{
    
width: 223.2px;
height: 208.85px;
}
.banner-container-5{
    width: 946px;
    height: 220px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.banner-container-5 img{
    width: 206.4px;
height: 187.32px;
}
.banner-container-5 h4{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
padding: 0px;
}
.banner-container-5 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding: 0px;
    margin-top: 19px;
}
.banner-container-5 button{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
padding: 12px 20px 12px 20px;
align-items: center;
justify-content: center;
margin-top: 40px
}
.banner-container-6{
    width: 946px;
    height: 130px;

margin: 0 auto;
margin-top: 200px;
justify-content: center;
text-align: center;
}
.banner-container-6 h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    padding: 0px;
    align-items: center;
}
.banner-container-6 p{
    margin: 0 auto;
    margin-top: 24px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
}

.banner-container-7{
    width: 1076px;
height: 400px;
margin: 0 auto;
border-radius: 16px;

}
.banner-container-7 video{
    margin-left: 200px;
    
}